* {
  font-size: large;
  font-family: "Roboto", sans-serifß;
}

body {
  background-image: url(/static/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Fraunces", serif;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.abox {
  opacity: 0.96;
  background-color: white;
  z-index: -1;
  position: absolute;
  filter: blur(8px);
  height: 100%;
  width: 90%;
  margin-top: auto;
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid purple;
}

.bbox {
  margin-top: 20%;
  margin-left: 25%;
  margin-right: 5%;
  left: 10%;
  position: absolute;
}

.result {
  background-color: azure;
  z-index: 10;
}

.lovehate {
  height: 50px;
  width: 50px;
}

.profile_img {
  border-radius: 50%;
  width: 300px;
  border: solid 4px purple;
}

/*search box css start here*/

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

.cbox {
  margin-top: 40%;
  padding-top: 50px;
  width: 300px;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
