{%extends 'base.html'%}

{%block content%}

<div class="container">
<h1>Search-By-ASIN</h1>

<hr>

<form id="Search-By-ASIN" method="POST" >
{{form.hidden_tag()}}
{% for field in form 
if field.widget.input_type != 'hidden' %}

<p>
    {{field.label}} 
    {{field}}
    {% for error in field.errors %}
    {{error}}
    {% endfor %}
</p>
{%endfor%}
<button type="submit" class="btn-danger btn-large">Search-By-ASIN</button>

</form>
</div>

<div class="container">
{%if result %}
<h1>{{result['title']}}</h1>
<p>{{result['description']}}</p>
<img src="{{result['main_image']}}" alt="product image here">
<ul>
    {%for item in result['feature_bullets']%}
    <li>{{item}}</li>
   
    {%endfor%}
</ul>
<a href="{{result['url']}}" class="btn btn-danger">Go!</a>

{%endif%}
</div>

{%endblock%}


