{%extends 'base.html'%} {%block content%}

<div class="container">
  {%if result %}

  <div class="card mb-3" style="max-width: 1200px">
    <div class="row g-0" style="display: flex">
      <div class="col-md-3">
        <img
          src="{{result['main_image']}}"
          alt="product image here"
          style="width: 250px"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{result['title']}}</h3>
          <p class="card-text">{{result['description']}}</p>
          {%for item in result['feature_bullets']%}
          <p class="card-text">{{item}}</p>
          {%endfor%}

          <a href="{{result['url']}}" class="btn btn-danger" target="_blank"
            >Go!</a
          >
        </div>
      </div>
    </div>
  </div>

  {%else%}

  <h1>There is no result! Try Again!</h1>

  <iframe
    src="https://giphy.com/embed/1Bh3GRMCFtSd2L1c57"
    width="480"
    height="360"
    frameborder="0"
    class="giphy-embed"
    allowfullscreen
  ></iframe>
  <p>
    <a
      href="https://giphy.com/gifs/hyperrpg-nightmare-gtfo-why-me-1Bh3GRMCFtSd2L1c57"
      >via GIPHY</a
    >
  </p>

  {%endif%}
</div>

{%endblock%}
