
{%extends 'base.html'%}

{%block content%}

 <!-----I want to use form here so next step will start use forms.py-->
    <div class="container"> 
        <h1>Search by Keyword</h1>
        <hr>
    
    <form  action="/search" id="search-form">
        <div class="row">
            <div class="col-3">Brand:</div>
            <div class="col-3">Product Name:</div>
            <div class="col-3">Product Version:</div>

        </div>




        <div class="row">
        <div class="col-3"><input id="brand"type="text" name="brand"> <b id="brand-err"></b> </div>
        <div class="col-3"><input type="text id="productname" name="productname" required> <b id="productname-err"></b> </div>
        <div class="col-3"><input id="version" name="version"> <b id="version-err"></b> </div>
        </div>

        <br>

        <div>
            <button  class=" btn-danger">Search!</button>
        </div>

    </form>
    </div>


    <div id="result">

    </div>
    


{%endblock%}
