
{%extends 'base.html'%}

{%block content%}

 <!-----I want to use form here so next step will start use forms.py-->
    <div> 
    <form  action="/search" id="search-form">
        <div>Brand: <input id="brand"type="text" name="brand"> <b id="brand-err"></b> </div>
        <div>Product Name:<input type="text id="productname" name="productname"> <b id="productname-err"></b> </div>
        <div>Product version <input id="version" name="version"> <b id="version-err"></b> </div>
        <button type="submit">Search!</button>

    </form>
    </div>

    <div id="result">

    </div>
    


{%endblock%}
