{%extends 'base.html'%}

{%block content%}

<div class="center abox"></div>

<div class="container bbox" >
<h1>Reviews-By-Asin</h1>
<hr>

<form  method="POST" id="reviews_by_asin">
    {{form.hidden_tag()}}
    {% for field in form 
    if field.widget.input_type != 'hidden' %}
    
    <p>
        {{field.label}} 
        {{field}}
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
    </p>
    {%endfor%}
    <button type="submit" class="btn-danger btn-large" onclick="hidden()">Reviews-By-ASIN</button>
    
    </form>
    </div>


    <div>


        {%if result%}
        {%for item in result%} 


        <div class="jumbotron jumbotron-fluid" style="background-color: azure; z-index: 10;">
            <div class="container">
              <h1 class="display-4">{{item.title}}</h1>
              <p>{{item.review}}</p>
              <p>{{item.rating}}</p>
              <p>{{item.name}}</p>
              <p>{{item['date']['date']}}</p>
            </div>
          </div>
    
    
        
    
        {%endfor%}
      
    </div>





    {%endif%}  


{%endblock%}