{%extends 'base.html'%} {%block content%}

<div class="center abox"></div>

<div class="container bbox" id="reviews_by_asin" style="display: block">
  <h1>Reviews-By-Asin</h1>
  <hr />

  <form method="POST">
    <div class="row">
      {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
      'hidden' %}

      <div class="col-md-6 mb-3">
        {{field.label}} {{field(class_="form-control search-slt")}} {% for error
        in field.errors %} {{error}} {% endfor %}
      </div>
      {%endfor%}

      <div class="form-row">
        <button
          type="submit"
          class="btn btn-danger wrn-btn col mt-3"
          id="reviewbtn"
        >
          Reviews-By-ASIN
        </button>
      </div>
    </div>
  </form>
</div>

<div>
  {%if result%} {%for item in result%}

  <div
    class="jumbotron jumbotron-fluid"
    style="background-color: azure; z-index: 10"
  >
    <div class="container">
      <h1 class="display-4">{{item.title}}</h1>
      <p>{{item.review}}</p>
      <p>{{item.rating}}</p>
      <p>{{item.name}}</p>
      <p>{{item['date']['date']}}</p>
    </div>
  </div>

  {%endfor%}
</div>

{%endif%} {%endblock%}
