{%extends 'base.html'%} {%block content%}

<div class="container">
  <div class="row">
    {%if result%} {%for item in result%}

    <div class="card col-sm-4">
      <div class="card-header border-primary">
        Rating: {{item.rating}}
        <img
          src="../static/images/5-stars/{{item.rating}}.png"
          style="height: 40px"
          ;
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <div class="card-text">
          <i class="fas fa-comment-dots"></i>{{item.review}}
        </div>
        <div class="card-text"><i class="fas fa-user"></i> {{item.name}}</div>
        <div class="card-text">
          <i class="far fa-clock"></i> <small>{{item['date']['date']}}</small>
        </div>
      </div>
    </div>

    {%endfor%}
  </div>
</div>
{%else%}
<h1>Try Again! There is no result!</h1>
<iframe
  src="https://giphy.com/embed/1AjEAMJqZVTzZLmkUD"
  width="480"
  height="480"
  frameborder="0"
  class="giphy-embed"
  allowfullscreen
></iframe>
<p>
  <a href="https://giphy.com/gifs/bigbrotherafterdark-1AjEAMJqZVTzZLmkUD"></a>
</p>

{%endif%} {%endblock%}
