{%extends 'base.html'%} {%block content%} {%if result%}
<div class="container">
  <div class="row">
    <!-- For loop logic of jinja template -->
    {%for i in range(0, len)%}

    <div class="card" style="width: 18rem; display: inline-block">
      <div class="card-img-top">
        <img
          class="card-img-top"
          src="{{result[i]['thumbnail']}}"
          style="width: auto; height: 200px"
          ;
        />
      </div>
      <div class="card-block">
        <div class="card-title">{{result[i]['title']}}</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Price: {{result[i]['price']['current_price']}}
            {{result[i]['price']['currency']}}
          </li>
          <li class="list-group-item">
            Asin: {{result[i]['asin']}}
            <button>
              <a href="/product?r={{ result[i]['asin']}}&c={{country}}">View</a>
            </button>
          </li>
        </ul>

        <div>
          <div class="row">
            <div class="btn col-sm">
              <a href="{{result[i]['url']}}" target="_blank" class="btn"
                ><img src="../static/images/go.png" class="lovehate"
              /></a>
            </div>
            {%if session['username']%}
            <div class="col-sm">
              <form action="/addfav/{{result[i]['asin']}}" method="POST">
                <input
                  type="hidden"
                  name="asin"
                  value="{{result[i]['asin']}}"
                />
                <button class="btn">
                  <img src="../static/images/love.png" class="lovehate" />
                </button>
              </form>
            </div>

            <div class="col-sm">
              <form action="/removefav/{{result[i]['asin']}}" method="POST">
                <input
                  type="hidden"
                  name="asin"
                  value="{{result[i]['asin']}}"
                />
                <button class="btn">
                  <img src="../static/images/hate.png" class="lovehate" />
                </button>
              </form>
            </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>

    {%endfor%}
  </div>
</div>

{%else%}

<h1>There is no result, try again</h1>
<iframe
  src="https://giphy.com/embed/1AjEAMJqZVTzZLmkUD"
  width="480"
  height="480"
  frameborder="0"
  class="giphy-embed"
  allowfullscreen
></iframe>
<p>
  <a href="https://giphy.com/gifs/bigbrotherafterdark-1AjEAMJqZVTzZLmkUD"></a>
</p>

{%endif%} {%endblock%}
