
{%extends 'base.html'%}

{%block content%}


<div style="color: orange; font-size:larger" class="container card-deck" >
 
    <!-- For loop logic of jinja template -->
    {%for i in range(0, len)%} 
    
      <div class="card" style="width: 18rem; display: inline-block;"> 
        <img class="card-img-top" src="{{result[i]['thumbnail']}}" > 
        <div class="card-block"> 
            <h4 class="card-title">{{result[i]['title']}}</h4> 
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: {{result[i]['price']['current_price']}} {{result[i]['price']['currency']}}</li>
                <li class="list-group-item">Asin: {{result[i]['asin']}}</li>
               
              </ul>
              
          
                <div class="btn">
                    <a href="{{result[i]['url']}}" target="_blank" class="btn btn-danger">Go!</a>
                </div>

                <div>
                  <form action="/addfav/{{result[i]['asin']}}" method="POST">
                    <input type="hidden" name="asin" value="{{result[i]['asin']}}">
                  <button >Favorites</button>
                  </form>

  
                </div>
        </div> 
    </div> 


    {%endfor%} 
      
</div>




{%endblock%}



