
{%extends 'base.html'%}

{%block content%}



{%if 'username' in session %}

<div class="container">
<div class="row">
<div class="col-6">
<table>
    <tr valign="top">
        <td><img src="{{profile_img}}" alt="user photo here" style="border-radius:50%"></td>
        <td><h1>Awesome! You are {{ user.username }}!</h1></td>
    </tr>
</table>
</div>

<div class="col-6">

    <a  class="btn btn-success btn-sm col-3" href="/logout">Log Out</a>
    
    
    
    <form>
        <button class="btn btn-danger btn-sm col-3"
                formaction="/users/{{ user.username }}/delete"
                formmethod="POST">
          Delete User
        </button>
    
      </form>
     
    </div>
</div>
<hr>

<div>



<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        Your shopping lists:
    </button>
    {% for list in lists %}
    <button type="button" class="list-group-item list-group-item-action">
        {% if list.done %} <strike> {% endif %}{{ list.content }} {% if list.done %} </strike>{% endif %}
  
    </button>
    {% endfor %}
  </div>


</div>

</div>



{%endif%}

{%if 'username' not in session%}

You must log in to see it. 

{%endif%}




{%endblock%}
